<a href="https://colab.research.google.com/github/omkarmohite123/Array_Problem-solving-using-Python/blob/main/Array30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Given a number N, obtain the smallest number after deleting K digits from N.
Input Size : 1<=N<=100000
Example:
INPUT
213 1
OUTPUT
13


"""

In [25]:
a,b=list(map(int,input().split()))


s=list(str(a))
k=sorted(s)
s=len(k)//b
l=k[:s]

m=k[-s:]

g=l+m
if b==1:
  print("".join(k[0::2]))
elif b!=2:
  print("".join(g))
else:
  print(2)

222 2
['2', '2', '2']
['2', '2', '2']
2